<div layout="column" flex class="content-wrap">
	<section layout="column" layout-align="center center" layout-fill flex>
		<q>Quickly poll your team roster's availability.</q>
		<p layout-padding>
			<img src="/assets/img/favicon.svg?rev=a003b1d85fbcf4d6b025ebe7509331b6" width="192" height="192" alt="Roster IO Logo" />
		</p>
		<br />
		<p>To begin, simply</p>
		<md-button ng-click="$auth()" class="md-facebook" aria-label="Login with Facebook">
			<md-icon md-font-set="fa" class="fa-facebook"></md-icon>
			Login with Facebook
		</md-button>
	</section>
</div>