<div ng-controller="RostersCtrl">
	<section>
		<md-subheader class="md-no-sticky">Active</md-subheader>
		<md-card>
			<md-card-content style="padding: 0;">
				<md-list>
					<md-list-item ng-repeat="roster in rosters | orderBy:'name'" ng-click="$state.go('roster', {roster: roster.$id})">
						<p style="min-width: 100px;">{{ roster.name }}</p>
						<ul class="list-avatars">
							<li ng-repeat="participant in roster.participants">
								<img ng-src="//graph.facebook.com/{{ participant.id }}/picture?type=square" width="32" height="32" class="md-avatar" alt="{{ participant.name }}" />
							</li>
						</ul>
						<md-button ng-if="canEdit(roster.admin)" class="md-icon-button md-warn" aria-label="Remove">
							<md-icon>close</md-icon>
						</md-button>
					</md-list-item>
				</md-list>
			</md-card-content>
		</md-card>
	</section>
	
<!--
	<md-fab-speed-dial class="md-scale" style="position: fixed; bottom: 16px; right: 16px;">
		<md-button ng-click="loadThreads()" class="md-fab" aria-label="Add new roster">
			<md-tooltip md-direction="left">Add new roster</md-tooltip>
			<md-icon>add</md-icon>
		</md-button>
	</md-fab-speed-dial>
	<div ng-if="threads">
		<md-list>
			<md-list-item ng-repeat="thread in threads" ng-click="newRoster(thread)">
				<p>{{ thread.id }}</p>
				<md-list>
					<md-list-item ng-repeat="participant in thread.participants.data">
						<img ng-src="//graph.facebook.com/{{ participant.id }}/picture?type=square" width="32" height="32" class="md-avatar" alt="{{ participant.name }}" />
						<span class="md-list-item-text">{{ participant.name }}</span>
					</md-list-item>
				</md-list>
			</md-list-item>
		</md-list>
	</div>
-->
</div>