<div layout="column" class="content-wrap">
	<header layout="column" class="center-sm">
		<div layout-margin ng-include="'views/template/roster.header.html'"></div>
		
		<div flex layout="row" layout-sm="column">
			<div flex ng-show="event.date">
				<md-subheader class="md-no-sticky">Date &amp; Time</md-subheader>
				<h2 layout-margin>
					<span ng-bind="event.date | date:'shortTime'"></span>, <span ng-bind="event.date | date:'EEEE'"></span> <br /><span ng-bind="event.date | date:'MMMM d, y'" style="white-space: nowrap;"></span>
				</h2>
			</div>
			<div flex ng-show="event.location">
				<md-subheader class="md-no-sticky">Location</md-subheader>
				<h2 layout-margin ng-show="event.location">
					<span ng-bind="event.location" style="white-space: pre-wrap;"></span>
				</h2>
			</div>
		</div>
		
		<div ng-show="event.notes">
			<md-subheader class="md-no-sticky">Notes</md-subheader>
			<div layout-margin ng-bind="event.notes" style="white-space: pre-wrap;"></div>
		</div>
	</header>
	<section ng-repeat="status in statuses" ng-show="status.$participants | length">
		<md-subheader class="md-no-sticky">
			<div layout="row">
				<span flex ng-bind="status.name"></span>
				
				<span class="counter">
					<md-icon class="fa fa-venus"></md-icon> <span ng-bind="status.$participants | gender:'female' | length"></span>
				</span>
				<span class="counter">
					<md-icon md-font-set="fa" class="fa-mars"></md-icon> <span ng-bind="status.$participants | gender:'male' | length"></span>
				</span>
				<span class="counter">
					<md-icon>people</md-icon> <span ng-bind="status.$participants | length"></span>
				</span>
			</div>
		</md-subheader>
		<md-card>
			<md-list>
				<md-list-item ng-repeat="participant in status.$participants = (participants | filterByRsvp:event.rsvps:status.$id | orderBy:'name')" ng-class="{previous: $state.$previous.params.user === participant.$id}" md-swipe-item="canEdit(participant.$id, roster.admins)" md-swipe-right-triggered="RSVP(event).setParticipantStatus(participant.$id, 1); mdSwipeItem.close();" md-swipe-right-most-triggered="RSVP(event).setParticipantStatus(participant.$id, -1); mdSwipeItem.close();" md-swipe-left-most-triggered="RSVP(event).setParticipantStatus(participant.$id, 0); mdSwipeItem.close();">
					<div md-ink-ripple ng-click="$state.go('user', {user: participant.$id})" class="md-list-item-inner md-swipe-item-inner" style="padding-right: 8px;">
						<img ng-src="{{ avatar(participant.facebook.id) }}" width="40" height="40" class="md-avatar" ng-class="{online: participant.online === true}" alt="{{ participant.name }}" />
						<p ng-bind="participant.name"></p>
						
						<rsvp ng-if="canEdit(participant.$id, roster.admins) || RSVP(event).getParticipantStatus(participant.$id) !== -2" event="event" participant="participant" readonly=" ! canEdit(participant.$id, roster.admins)"></rsvp>
					</div>
					<md-swipe-actions hide-gt-sm layout="row">
						<div class="md-swipe-action-left" layout="row" layout-align="start center">
							<md-button class="md-icon-button">
								<md-icon>check</md-icon>
								<md-icon class="ng-hide">swap_calls</md-icon>
							</md-button>
						</div>
						<div class="md-swipe-action-right" layout="row" layout-align="end center">
							<md-button ng-click="RSVP(event).setParticipantStatus(participant.$id, 1); mdSwipeItem.close();" class="md-fab md-mini md-success">
								<md-icon>check</md-icon>
							</md-button>
							<md-button ng-click="RSVP(event).setParticipantStatus(participant.$id, -1); mdSwipeItem.close();" class="md-fab md-mini md-primary">
								<md-icon>swap_calls</md-icon>
							</md-button>
							<md-button ng-click="RSVP(event).setParticipantStatus(participant.$id, 0); mdSwipeItem.close();" class="md-fab md-mini md-warn">
								<md-icon>close</md-icon>
							</md-button>
						</div>
					</md-swipe-actions>
				</md-list-item>
			</md-list>
		</md-card>
	</section>
</div>

<md-fab-speed-dial ng-if="canEdit(roster.admins)" md-direction="up" class="md-scale md-fab-speed-dial-bottom-right">
	<md-fab-trigger>
		<div layout="row">
			<label><div>Clone event</div></label>
			<md-button ng-click="cloneEvent()" class="md-fab md-accent" aria-label="Clone event">
				<md-icon>add</md-icon>
			</md-button>
		</div>
	</md-fab-trigger>
	<md-fab-actions>
		<div layout="row">
			<label><div>Edit event</div></label>
			<md-button ng-click="editEvent()" class="md-fab md-mini md-raised md-primary" aria-label="Edit event">
				<md-icon>create</md-icon>
			</md-button>
		</div>
		<div layout="row">
			<label><div>Delete event</div></label>
			<md-button ng-click="deleteEvent($event.shiftKey)" class="md-fab md-mini md-raised md-warn" aria-label="Delete event">
				<md-icon>delete</md-icon>
			</md-button>
		</div>
	</md-fab-actions>
</md-fab-speed-dial>