<div layout="column" flex>
	<md-content>
		<header layout="column" layout-gt-md="row" class="content-wrap">
			<section flex>
				<div ng-show="event.date">
					<md-subheader class="md-no-sticky">Date &amp; Time</md-subheader>
					<h2 layout-margin><span ng-bind="event.date | date:'shortTime'"></span>, <span ng-bind="event.date | date:'EEEE'"></span> <span ng-bind="event.date | date:'MMMM d, y'" style="white-space: nowrap;"></span></h2>
				</div>
				
				<div ng-show="event.notes">
					<md-subheader class="md-no-sticky">Notes</md-subheader>
					<div layout-padding style="white-space: pre-wrap;">{{ event.notes }}</div>
				</div>
			</section>
			<section ng-show="event.location || event.locationPin">
				<md-subheader class="md-no-sticky">Location</md-subheader>
				<h2 layout-margin ng-show="event.location">
					<a ng-href="{{ event.locationUrl }}" target="_blank" class="passthru">
						<span ng-bind="event.location" style="white-space: pre-wrap;"></span>
						<md-icon ng-if="event.locationUrl" style="line-height: 16px;">place</md-icon>
					</a>
				</h2>
				<md-card ng-show="event.locationPin" layout-padding>
					<a ng-href="{{ event.locationUrl }}" target="_blank"><img ng-src="{{ 'http://maps.googleapis.com/maps/api/staticmap?markers=' + event.locationPin + '&zoom=15&size=300x200&maptype=hybrid' }}" width="300" height="200" /></a>
				</md-card>
			</section>
		</header>
		<section ng-repeat="status in statuses" ng-show="status.$participants | length" class="content-wrap">
			<md-subheader class="md-no-sticky">
				<div layout="row">
					<span flex ng-bind="status.name"></span>
					
					<span class="counter">
						<md-icon class="fa fa-venus"></md-icon> {{ status.$participants | gender:'female' | length }}
					</span>
					<span class="counter">
						<md-icon md-font-set="fa" class="fa-mars"></md-icon> {{ status.$participants | gender:'male' | length }}
					</span>
					<span class="counter">
						<md-icon>people</md-icon> {{ status.$participants | length }}
					</span>
				</div>
			</md-subheader>
			<md-card>
				<md-list>
					<md-list-item ng-repeat="participant in status.$participants = (participants | filterByRsvp:event.rsvps:status.$id | orderBy:'name')" ng-class="{previous: $state.$previous.params.user === participant.$id}" md-swipe-item="canEdit(participant.$id, roster.admins)" md-swipe-right-triggered="RSVP(event).setParticipantStatus(participant.$id, 1); mdSwipeItem.close();" md-swipe-right-most-triggered="RSVP(event).setParticipantStatus(participant.$id, -1); mdSwipeItem.close();" md-swipe-left-most-triggered="RSVP(event).setParticipantStatus(participant.$id, 0); mdSwipeItem.close();">
						<div md-ink-ripple ng-click="$state.go('user', {user: participant.$id})" class="md-list-item-inner md-swipe-item-inner" style="padding-right: 8px;">
							<img ng-src="{{ avatar(participant.facebook.id) }}" width="40" height="40" class="md-avatar" alt="{{ participant.name }}" />
							<p>{{ participant.name }}</p>
							
							<rsvp hide-sm ng-if="canEdit(participant.$id, roster.admins)" event="event" participant="participant"></rsvp>
							<md-button hide-gt-sm ng-if="canEdit(participant.$id, roster.admins)" ng-click="mdSwipeItem.triggered.left || mdSwipeItem.triggered.right ? mdSwipeItem.close() : mdSwipeItem.teaseLeft()" class="md-fab" ng-class="{'md-success': RSVP(event).getParticipantStatus(participant.$id) === 1, 'md-primary': RSVP(event).getParticipantStatus(participant.$id) === -1, 'md-warn': RSVP(event).getParticipantStatus(participant.$id) === 0}" aria-label="RSVP" ng-switch="RSVP(event).getParticipantStatus(participant.$id)">
								<md-icon ng-switch-when="1">check</md-icon>
								<md-icon ng-switch-when="-1">swap_calls</md-icon>
								<md-icon ng-switch-when="0">close</md-icon>
								<md-icon ng-switch-default>more_horiz</md-icon>
							</md-button>
							<md-button ng-if=" ! canEdit(participant.$id, roster.admins)" class="md-fab" ng-class="{'md-success': RSVP(event).getParticipantStatus(participant.$id) === 1, 'md-primary': RSVP(event).getParticipantStatus(participant.$id) === -1, 'md-warn': RSVP(event).getParticipantStatus(participant.$id) === 0}" aria-label="RSVP" ng-switch="RSVP(event).getParticipantStatus(participant.$id)">
								<md-icon ng-switch-when="1">check</md-icon>
								<md-icon ng-switch-when="-1">swap_calls</md-icon>
								<md-icon ng-switch-when="0">close</md-icon>
								<md-icon ng-switch-default>more_horiz</md-icon>
							</md-button>
						</div>
						<md-swipe-actions hide-gt-sm layout="row">
							<div class="md-swipe-action-left" layout="row" layout-align="start center">
								<md-button class="md-icon-button">
									<md-icon>check</md-icon>
									<md-icon class="ng-hide">swap_calls</md-icon>
								</md-button>
							</div>
							<div class="md-swipe-action-right" layout="row" layout-align="end center">
								<md-button ng-click="RSVP(event).setParticipantStatus(participant.$id, 1); mdSwipeItem.close();" class="md-fab md-mini md-success">
									<md-icon>check</md-icon>
								</md-button>
								<md-button ng-click="RSVP(event).setParticipantStatus(participant.$id, -1); mdSwipeItem.close();" class="md-fab md-mini md-primary">
									<md-icon>swap_calls</md-icon>
								</md-button>
								<md-button ng-click="RSVP(event).setParticipantStatus(participant.$id, 0); mdSwipeItem.close();" class="md-fab md-mini md-warn">
									<md-icon>close</md-icon>
								</md-button>
							</div>
						</md-swipe-actions>
					</md-list-item>
				</md-list>
			</md-card>
		</section>
	</md-content>
	<md-fab-speed-dial ng-if="canEdit(undefined, roster.admins)" md-direction="up" class="md-scale md-fab-speed-dial-bottom-right">
		<md-fab-trigger>
			<div layout="row">
				<label><div>Edit event</div></label>
				<md-button ng-click="editEvent()" class="md-fab md-primary" aria-label="Edit event">
					<md-icon>create</md-icon>
				</md-button>
			</div>
		</md-fab-trigger>
		<md-fab-actions>
			<div layout="row">
				<label><div>Delete event</div></label>
				<md-button ng-click="deleteEvent($event.shiftKey)" class="md-fab md-mini md-raised md-warn" aria-label="Delete event">
					<md-icon>delete</md-icon>
				</md-button>
			</div>
			<div layout="row">
				<label><div>Clone event</div></label>
				<md-button ng-click="cloneEvent()" class="md-fab md-mini md-raised md-accent" aria-label="Clone event">
					<md-icon>content_copy</md-icon>
				</md-button>
			</div>
		</md-fab-actions>
	</md-fab-speed-dial>
</div>