<div class="content-wrap" layout="column" layout-align="center" flex>
	<md-subheader class="md-no-sticky">You've been invited to join:</md-subheader>
	<md-card layout-align="center center" layout-padding>
		<md-card-content>
			<h1 ng-bind="roster.name" style="margin-top: 0;"></h1>
			<div>
				<small>by</small>
				<img ng-src="{{ avatar(inviter.facebook.id) }}" width="32" height="32" class="md-avatar" alt="{{ inviter.name }}" style="margin: 8px;" />
				<span ng-bind="inviter.name"></span>
			</div>
		</md-card-content>
	</md-card>
	<div class="md-actions" layout="row" layout-align="center" layout-padding>
		<md-button ng-click="acceptInvite()" class="md-facebook" aria-label="Accept invitation">
			<md-icon md-font-set="fa" class="fa-facebook"></md-icon>
			Accept Invitation
		</md-button>
	</div>
</div>