<div ng-controller="RostersCtrl" layout="column" flex>
	<md-content flex>
		<section class="content-wrap">
			<md-subheader class="md-no-sticky">Active</md-subheader>
			<md-card>
				<md-card-content style="padding: 0;">
					<md-list>
						<md-list-item ng-repeat="roster in rosters | orderBy:'name'" ng-init="participants = $firebaseHelper.join(['rosters', roster.$id, 'participants'], 'users')" ng-click="$state.go('roster', {roster: roster.$id})" ng-class="{previous: $state.$previous.params.roster === roster.$id}">
							<p style="min-width: 100px;">{{ roster.name }}</p>
							<ul class="list-avatars">
								<li ng-repeat="participant in participants">
									<img ng-src="{{ avatar(participant.facebook.id) }}" width="32" height="32" class="md-avatar" alt="{{ participant.name }}" />
								</li>
							</ul>
						</md-list-item>
					</md-list>
				</md-card-content>
			</md-card>
		</section>
	</md-content>
	
	<md-fab-speed-dial ng-if="canEdit()" md-direction="up" class="md-scale md-fab-speed-dial-bottom-right">
		<md-fab-trigger>
			<div layout="row">
				<label><div>Add new roster</div></label>
				<md-button ng-click="newRoster()" class="md-fab" aria-label="Add new roster">
					<md-icon>add</md-icon>
				</md-button>
			</div>
		</md-fab-trigger>
	</md-fab-speed-dial>
</div>