<div layout="column" flex>
	<md-content flex layout="column">
		<section ng-if=" ! $me.$id" class="content-wrap" layout="column" layout-align="center center" layout-fill flex style="padding-top: 2%; padding-bottom: 4%;">
			<q>Quickly poll your team roster's availability.</q>
			<p layout-padding>
				<img src="/assets/img/favicon.png" width="192" height="192" alt="Roster IO Logo" />
			</p>
			<br />
			<p>To begin, simply</p>
			<md-button ng-click="$authThen()" class="md-facebook" aria-label="Login with Facebook">
				<md-icon md-font-set="fa" class="fa-facebook"></md-icon>
				Login with Facebook
			</md-button>
		</section>
		
		<section ng-if="$me.$id" class="content-wrap">
			<md-subheader class="md-no-sticky">Rosters</md-subheader>
			<md-card>
				<md-card-content style="padding: 0;">
					<md-list>
						<md-list-item ng-repeat="roster in rosters | orderBy:'name'" ng-click="$state.go('roster', {roster: roster.$id})" ng-class="{previous: $state.$previous.params.roster === roster.$id}">
							<figure class="md-avatar initials" layout="row" layout-align="center center">
								<img ng-if="roster.avatar" ng-src="{{ roster.avatar }}" alt="{{ roster.name }} Avatar" width="40" height="40" />
								<span ng-if=" ! roster.avatar" ng-bind="initials(roster.name)"></span>
							</figure>
							<p flex>{{ roster.name }}</p>
							<span class="counter">
								<md-icon>event</md-icon> {{ roster.events | length }}
							</span>
							<span class="counter">
								<md-icon>people</md-icon> {{ roster.participants | length }}
							</span>
						</md-list-item>
						<md-list-item ng-if=" ! (rosters | length)" class="no-results">
							No rosters found.
						</md-list-item>
					</md-list>
				</md-card-content>
			</md-card>
		</section>
	</md-content>
	
	<md-fab-speed-dial ng-if="canEdit()" md-direction="up" class="md-scale md-fab-speed-dial-bottom-right">
		<md-fab-trigger>
			<div layout="row">
				<label><div>Add new roster</div></label>
				<md-button ng-click="newRoster()" class="md-fab" aria-label="Add new roster">
					<md-icon>add</md-icon>
				</md-button>
			</div>
		</md-fab-trigger>
	</md-fab-speed-dial>
</div>