<div class="content-wrap">
	<header layout="column" layout-gt-md="row" class="center-sm" style="padding-top: 8px;">
		<section flex layout-padding>
			<div layout="row" layout-sm="column" layout-align="start center">
				<img ng-src="{{ avatar(user.facebook.id, 'width=192&height=192') }}" width="96" height="96" class="md-avatar" ng-class="{online: user.online === true}" />
				<div style="margin: 16px;">
					<div>
						<h1 ng-bind="user.name" style="display: inline-block; margin: 0;"></h1>
						<md-icon md-font-set="fa" ng-class="{'fa-mars': user.gender === 'male', 'fa-venus': user.gender === 'female'}" style="font-size: 16px;"></md-icon>
					</div>
					<small ng-if="user.online">Last Online: <span ng-bind="user.online === true ? 'Now' : (user.online | date:'medium')"></span></small>
				</div>
			</div>
		</section>
	</header>
	<section>
		<md-subheader class="md-no-sticky">Rosters</md-subheader>
		<md-card>
			<md-card-content style="padding: 0;">
				<md-list>
					<md-list-item ng-repeat="roster in userRosters | orderBy:'name'" ng-click="$state.go('roster', {roster: roster.$id})" ng-class="{previous: $state.$previous.params.roster === roster.$id}">
						<avatar roster="roster"></avatar>
						
						<p flex ng-bind="roster.name"></p>
						
						<span class="counter">
							<md-icon>event</md-icon> <span ng-bind="roster.events | length"></span>
						</span>
						<span class="counter">
							<md-icon>people</md-icon> <span ng-bind="roster.participants | length"></span>
						</span>
					</md-list-item>
					<md-list-item ng-if=" ! (userRosters | length)" class="no-results">
						No rosters found.
					</md-list-item>
				</md-list>
			</md-card-content>
		</md-card>
	</section>
</div>
	
<md-fab-speed-dial ng-if="canEdit(user.$id)" md-direction="up" class="md-scale md-fab-speed-dial-bottom-right">
	<md-fab-trigger>
		<div layout="row">
			<label><div>Edit user</div></label>
			<md-button ng-click="editUser()" class="md-fab md-primary" aria-label="Edit user">
				<md-icon>create</md-icon>
			</md-button>
		</div>
	</md-fab-trigger>
<!--
	<md-fab-actions>
		<div layout="row">
			<label><div>Delete user</div></label>
			<md-button ng-click="deleteUser($event.shiftKey)" class="md-fab md-mini md-raised md-warn" aria-label="Delete user">
				<md-icon>delete</md-icon>
			</md-button>
		</div>
	</md-fab-actions>
-->
</md-fab-speed-dial>