<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= subject %></title>
	<base href="http://www.roster-io.com/" />
	
	<meta charset="UTF-8" />
	<meta name="viewport" content="initial-scale=1" />
	
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css" />
	<link rel="stylesheet" href="assets/css/base.css" type="text/css" />
	<style>
		a {
			text-decoration: none;
		}
		a.passthru {
			color: inherit;
		}
		small a {
			color: #666;
			text-decoration: underline;
		}
		a.md-button,
		.md-button {
			border-radius: 3px;
		}
		img {
			vertical-align: middle;
			border: 0;
		}
	</style>
</head>
<body class="loaded" style="height: auto; padding: 20px;">

	<div style="max-width: 600px; margin: 8px auto; text-align: center;">
		<div class="md-subheader" style="text-align: left">
			<div class="md-subheader-inner">Event</div>
		</div>
		<div class="md-whiteframe-z1" style="background-color: #FFF;">
			<div style="box-sizing: border-box; position: relative; z-index: 2; font-size: 20px; min-height: 88px; width: 100%; background-color: #3f51b5; color: #FFF;">
				<h2 style="padding: 24px; margin: 0;"><%= moment(event.date).format('h:mm A, dddd') %>, <span style="white-space: nowrap;"><%= moment(event.date).format('MMMM D, YYYY') %></span></h2>
			</div>
			<div style="padding: 8px;">
				<h3 style="margin-bottom: 8px;"><a href="<%= roster.url %>" class="passthru"><%= roster.name %></a></h3>
				<h1 style="margin-top: 0;"><a href="<%= event.url %>" class="passthru"><%= event.name %></a></h1>
			</div>
		</div>
		<div class="md-subheader" style="text-align: left">
			<div class="md-subheader-inner">RSVP</div>
		</div>
		<div class="md-whiteframe-z1" style="background-color: #FFF; padding: 16px 8px 8px 8px;">
			<table width="100%" style="max-width: 480px; margin: 0 auto;">
				<tr>
					<td width="25%" valign="top">
						<a href="<%= event.url %>?v=1">
							<img src="emails/assets/img/status1.png" width="70" height="70" alt="Attending" />
						</a>
						<br />
						<a href="<%= event.url %>?v=1" class="tooltip">Attending</a>
					</td>
					<td width="25%" valign="top">
						<a href="<%= event.url %>?v=-1">
							<img src="emails/assets/img/status-1.png" width="70" height="70" alt="Maybe" />
						</a>
						<br />
						<a href="<%= event.url %>?v=-1" class="tooltip">Maybe</a>
					</td>
					<td width="25%" valign="top">
						<a href="<%= event.url %>?v=0">
							<img src="emails/assets/img/status0.png" width="70" height="70" alt="Not Attending" />
						</a>
						<br />
						<a href="<%= event.url %>?v=0" class="tooltip">Not Attending</a>
					</td>
					<td width="25%" valign="top">
						<a href="<%= event.url %>">
							<img src="emails/assets/img/status-2.png" width="70" height="70" alt="More Info" />
						</a>
						<br />
						<a href="<%= event.url %>" class="tooltip">More Info</a>
					</td>
				</tr>
			</table>
			<br />
		</div>
		<br />
		<br />
		<small style="font-size: 12px; color: #999;">This email was sent to <% if (locals.user) { %><a href="mailto:<%= user.email %>"><%= user.email %></a><% } else { %>you<% } %> by <a href="/">Roster IO</a> because you're on the <a href="<%= roster.url %>"><%= roster.name %></a> roster.</small>
	</div>

</body>
</html>