<md-fab-speed-dial md-direction="left" class="md-scale">
	<md-fab-trigger>
		<md-button ng-click="$event.stopPropagation()" class="md-fab" ng-class="{'md-success': RSVP(event).getParticipantStatus(participant.$id) === 1, 'md-primary': RSVP(event).getParticipantStatus(participant.$id) === -1, 'md-warn': RSVP(event).getParticipantStatus(participant.$id) === 0}" aria-label="RSVP" ng-switch="RSVP(event).getParticipantStatus(participant.$id)" ng-disabled="readonly">
			<md-icon ng-switch-when="1">check</md-icon>
			<md-icon ng-switch-when="-1">swap_calls</md-icon>
			<md-icon ng-switch-when="0">close</md-icon>
			<md-icon ng-switch-default>more_horiz</md-icon>
		</md-button>
	</md-fab-trigger>
	<md-fab-actions ng-if=" ! readonly">
		<md-button ng-click="RSVP(event).setParticipantStatus(participant.$id, 1); $event.stopPropagation();" class="md-fab md-mini md-success">
			<md-icon>check</md-icon>
		</md-button>
		<md-button ng-click="RSVP(event).setParticipantStatus(participant.$id, -1); $event.stopPropagation();" class="md-fab md-mini md-primary">
			<md-icon>swap_calls</md-icon>
		</md-button>
		<md-button ng-click="RSVP(event).setParticipantStatus(participant.$id, 0); $event.stopPropagation();" class="md-fab md-mini md-warn">
			<md-icon>close</md-icon>
		</md-button>
	</md-fab-actions>
</md-fab-speed-dial>