// vars
@u:        8px;
@t:        300ms;
@sm:       600px;
@md:       960px;
@primary:  #3f51b5;
@accent:   rgb(255,64,129);
@warn:     rgb(244,67,54);
@success:  rgb(0, 128, 0);
@bg:       #DDD;
@lightest: #FFF;
@darker:   #333;
@facebook: #3b5998;

// modifications
md-content {
	background-color: transparent;
}
md-card {
	md-list {
		padding: 0;
	}
	img {
		vertical-align: middle;
		border: 0;
	}
	@media (max-width: @md) {
		margin-left: 0;
		margin-right: 0;
	}
}
md-dialog {
	&[ng-form] {
		md-progress-circular {
			display: none;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -25px 0 0 -25px;
		}
		&.loading {
			md-dialog-content {
				opacity: .5;
			}
			md-progress-circular {
				display: block;
				opacity: 1 !important;
			}
		}
	}
}
md-list-item {
	> .md-avatar {
		margin-left: @u*2;
		
		+ p {
			margin-right: @u*2;
		}
	}
	&.no-results {
		font-style: italic;
		opacity: .5;
	}
	&.previous {
		border-left: solid 3px @primary;
		
		.md-no-style {
			padding-left: @u*2 - 3px;
		}
	}
	&:not(:first-child) {
		border-top: solid 1px @bg;
	}
}
md-fab-speed-dial {
	z-index: 1;
	
	&.md-fab-speed-dial-bottom-right {
		position: fixed;
		bottom: 20px;
		right: 20px;
	}
	md-fab-trigger,
	md-fab-actions {
		[layout=row] {
			label {
				position: relative;
				width: 0;
				
				div {
					.tooltip;
					display: block;
					position: absolute;
					top: 50%;
					right: 100%;
					max-width: 200px;
					margin-top: -13px;
					white-space: nowrap;
					overflow: hidden;
					opacity: 0;
					transition: opacity 300ms ease-in-out;
				}
			}
			&:hover {
				label {
					div {
						opacity: 1;
					}
				}
			}
		}
	}
}
md-icon {
	&.fa {
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		vertical-align: middle;
	}
	&.md-hero {
		width: 64px;
		height: 64px;
		font-size: 64px;
	}
}
.md-button {
	&.md-facebook {
		&:not(:disabled) {
			&,
			&:hover {
				background-color: @facebook;
				
				&,
				md-icon {
					color: @lightest;
				}
			}
		}
	}
	&.md-success {
		&:not(:disabled) {
			&,
			&:hover {
				background-color: @success;
				
				&,
				md-icon {
					color: @lightest;
				}
			}
		}
	}
}
.md-subheader {
	&.md-no-sticky {
		background-color: transparent;
		line-height: 24px;
		
		.md-subheader-inner {
			padding-bottom: 0;
		}
	}
}
.md-avatar {
	border-radius: 50%;
}
.tooltip {
	display: inline-block;
	background: rgba(70,70,70,.9);
	color: #ececec;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	font-size: 14px;
	font-weight: bold;
	line-height: 1em;
	text-overflow: ellipsis;
	padding: 6px 8px;
	border-radius: 2px;
}



// custom
html,
body {
	background-color: @bg !important;;
}

a.passthru {
	text-decoration: inherit;
	color: inherit;
}
.list-unstyled {
	list-style: none;
	padding: 0;
	margin: 0;
}
.list-avatars {
	.list-unstyled;
	padding: @u 0 @u @u*2;
	
	> * {
		display: inline-block;
		
		.md-avatar {
			border-radius: 50%;
			margin-left: 4px !important;
			vertical-align: middle;
		}
	}
}
.counter {
	line-height: 1;
	font-size: 14px;
	padding-left: 24px;
	opacity: .75;
	
	md-icon {
		font-size: 20px;
		line-height: 24px;
		
		&.fa {
			font-size: 14px;
		}
	}
}
.calendar-day {
	width: 40px;
	height: 40px;
	text-align: center;
	margin-left: 0 !important;
	margin-right: @u*2 !important;
	border-radius: 50%;
	box-sizing: content-box;
	overflow: hidden;
	
	.month,
	.ampm {
		line-height: 10px;
		font-size: 10px;
		text-transform: uppercase;
	}
	.hour,
	.month {
		margin-top: 5px;
	}
	.day,
	.hour {
		line-height: 20px;
		font-size: 20px;
	}
	.hour {
		font-size: 13px;
	}
	&.md-primary {
		background-color: @primary;
		color: @lightest;
		margin-right: @u !important;
	}
	&.md-accent {
		box-shadow: 0 0 0 2px @accent;
	}
}
.breadcrumbs {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	
	> * {
		&:not(:first-child) {
			&:before {
				content: " \203A  ";
			}
		}
	}
}
.content-wrap {
	width: 100%;
	max-width: 920px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: @u*2;
}


@keyframes tease-left {
	0% {
		transform: translate3d(0, 0, 0);
	}
	30% {
		transform: translate3d(-60px, 0, 0);
	}
	60% {
		transform: translate3d(0, 0, 0);
	}
	80% {
		transform: translate3d(-10px, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}
.md-swipe-item {
	position: relative;
	overflow: hidden;
	padding: 0 !important;
	
	.md-swipe-item-inner {
		flex: 1;
		background-color: @lightest;
		padding: 0 @u*2;
		z-index: 1;
	}
	md-swipe-actions {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: @darker;
		transition: background-color 100ms ease-in-out;
		z-index: 0;
		
		&,
		md-icon {
			color: @lightest;
		}
		> * {
			flex: 1;
		}
		.md-success {
			background-color: @success;
		}
		&.md-primary {
			background-color: @primary;
		}
		&.md-warn {
			background-color: @warn;
		}
	}
	&.md-swiping-left,
	&.md-swiping-left-triggered,
	&.md-teasing-left {
		.md-swipe-item-inner {
			border-top-right-radius: @u/2;
			border-bottom-right-radius: @u/2;
		}
		md-swipe-actions {
			.md-swipe-action-left {
				display: none;
			}
		}
	}
	&.md-swiping-right,
	&.md-swiping-right-triggered,
	&.md-teasing-right {
		.md-list-item-inner {
			border-top-left-radius: @u/2;
			border-bottom-left-radius: @u/2;
		}
		md-swipe-actions {
			.md-swipe-action-right {
				display: none;
			}
		}
	}
	&.md-swipe-item-animating {
		.md-swipe-item-inner {
			transition: all 100ms ease-in-out;
		}
	}
	&.md-teasing-left {
		.md-swipe-item-inner {
			animation: tease-left 450ms ease-out;
		}
	}
	
}